BasedOnStyle: Webkit
BreakBeforeBraces: Custom
BraceWrapping:
    BeforeElse: true
    AfterControlStatement: false
    # IndentWrappedFunctionNames: true
    # AfterCaseLabel: true
    AfterFunction: true
    AfterClass: false
    AfterStruct: true
    AfterEnum: true
    AfterUnion: true
    AfterNamespace: true
