[submodule "CascLib"]
	path = CascLib
	url = https://github.com/Talv/CascLib.git
[submodule "cxxopts"]
	path = cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "plog"]
	path = plog
	url = https://github.com/SergiusTheBest/plog.git
